<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Maintenance Page</title>
    </head>
    <body>       
       <h1>We 'll back soon...</h1>
       <p>The site is under Maintenance</p>
    </body>
</html>